<div class="second">
    <div class="second__box-quote">
        <p class="second__quote">
            Мы расскажем Вам не только подробности 
            <br>вашей смерти, но также поможем 
            <br>Вам избежать этой ужасной даты и 
            <br>продлить вашу жизнь на многие годы.
        </p>
        <img class="second__img-eye1" src="../../assets/img/eye-1.svg" alt="eye-1">
    </div>
    <div class="second__line"></div>
    <p class="second__question">Когда Вы чувствуете себя наиболее <br>комфортно?</p>
    <button class="second__btn" routerLink="/third-question">Утро</button>
    <button class="second__btn" routerLink="/third-question">День</button>
    <button class="second__btn" routerLink="/third-question">Вечер</button>
    <button class="second__btn" routerLink="/third-question">Ночь</button>
    <img class="second__img-eye" src="../../assets/img/eye.svg" alt="eye">
    <p class="second__num-question">Вопрос 2-5</p>
</div>