<div class="fourth">
    <div class="fourth__box-quote">
        <p class="fourth__quote">
            Смерть родного человека – одно из 
            <br>тяжелейших испытаний в жизни каждого 
            <br>из нас!
        </p>
        <img class="fourth__img-eye1" src="../../assets/img/eye-1.svg" alt="eye-1">
    </div>
    <div class="fourth__line"></div>
    <p class="fourth__question">Снятся ли Вам умершие люди?</p>

    <button class="fourth__btn" routerLink="/fifth-question">Да</button>
    <button class="fourth__btn" routerLink="/fifth-question">Нет</button>
    <button class="fourth__btn" routerLink="/fifth-question">Иногда</button>
    <img class="fourth__img-eye" src="../../assets/img/eye.svg" alt="eye">
    <p class="fourth__num-question">Вопрос 4-5</p>
</div>



<div class="loading">
    <div class="loading__box">
        <img class="loading__img" src="../../assets/img/loading.svg" alt="loading">
        <p class="loading__text">Loading</p>
    </div>
</div>