<div class="home">
    <p class="home__title">Лучшие астрологи и экстрасенсы Румынии</p>
    <div class="home__line"></div>
    <p class="home__accuracy">Точность прогноза: 97%</p>
    <img class="home__img-woman" src="../../assets/img/woman1.png" alt="woman1">
    <p class="home__question">Вас беспокоит вопрос о том, когда Вы покинете этот Мир и при каких обстоятельствах?</p>
    <button class="home__btn">Да</button>
    <button class="home__btn">Нет</button>
    <p class="home__online">Онлайн предсказание</p>
    <img class="home__img-hands" src="../../assets/img/hands.png" alt="hands">
    <div class="home__box-text">
        <p class="home__text">
            Позвольте нам раскрыть эту 
            <br>волнующую тайну и 
            <br><span>с точностью определить дату 
            <br>и время вашей смерти,</span> а 
            <br>также предшествующую 
            <br>этому событию причину
        </p>
    </div>
    <div class="home__box-img">
        <p class="home__text-img">
            Многие не верят 
            <br>предсказаниям и мы решили 
            <br>доказать каждому,
            <br><span>что прогноз может 
            <br>изменить жизнь любого человека!</span>
        </p>
    </div>
    <p class="home__first-question">Боитесь ли вы умереть?</p>
    <button class="home__btn" routerLink="/second-question">Да</button>
    <button class="home__btn" routerLink="/second-question">Нет</button>
    <p class="home__num-question">Вопрос 1-5</p>

    <div class="home__box-rune">
        <img class="home__img-eye" style="opacity: 0;" src="../../assets/img/eye.svg" alt="eye">
        <img class="home__img-rune" src="../../assets/img/rune1.svg" alt="rune1">
        <img class="home__img-eye1" src="../../assets/img/eye-1.svg" alt="eye-1">
    </div>
    <p class="home__quote">
        Вы, конечно, умрете. 
        <br>И все, с кем вы знакомы, 
        <br>тоже однажды умрут.
    </p>
    <div class="home__box-rune" style="margin-bottom: 48px;">
        <img class="home__img-eye" src="../../assets/img/eye.svg" alt="eye">
        <img class="home__img-rune" src="../../assets/img/rune2.svg" alt="rune2">
        <img class="home__img-eye1" style="opacity: 0;" src="../../assets/img/eye-1.svg" alt="eye-1">
    </div>
</div>