<div class="fifth">
    <div class="fifth__box-quote">
        <div class="fifth__box-message">
            <p class="fifth__message">{{message}}</p>
        </div>
        <img class="fifth__img-eye1" src="../../assets/img/eye-1.svg" alt="eye-1">
    </div>
    <div class="fifth__line"></div>
    <p class="fifth__question">
        <br>Запись, которую Вы услышите, 
        <br>может шокировать людей с 
        <br>неокрепшей психикой. Вы готовы 
        <br>узнать, что ждет именно Вас?
    </p>

    <button class="fifth__btn" routerLink="/end">Да</button>
    <button class="fifth__btn" routerLink="/end">Затрудняюсь ответить</button>
    <img class="fifth__img-eye" src="../../assets/img/eye.svg" alt="eye">
    <p class="fifth__num-question">Вопрос 5-5</p>
</div>